.btn
    width: auto
    height: 5%
    padding: .20em .20em
    border-radius: 15px
    display: inline-block
    background: $accent
    color: $text-inverse
    text:
        decoration: none
    display: none

    &:hover
        background: lighten($text-project-description,50%)

.btn-project   
    width: auto
    height: 5%
    padding: 0.2em 0.4em 0.2em 0.4em
    border-radius: 15px
    display: inline-block
    background: $white
    border: 2px solid $black
    color: $black
    text-align: center
    text:
        decoration: none
    &:hover
        background: lighten($accent, 25)

